* {
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
}

.contact {
    background: rgb(255,168,0);
    background: linear-gradient(0deg, rgba(255,168,0,1) 0%, rgba(0,0,0,1) 79%);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top:55px;
    padding-bottom:70px;
}

div , form , h1:first-letter {
     /*color: darkred;*/
}

h1 {
    color: #FFA800;
}

.contact .form {
    width: 100%;
}
.contact .form label {
    display: block;
    color: #FFF ;
    margin: 20px 0;
}
.contact .form input[type="text"] {
    background-color: #4b5557;
    background: 10%;
    color: #FFF;
    padding: 10px;
    /*border:0px;*/
    width: 20%;
    border-radius: 10px 10px 10px 10px ;
    margin-bottom: 10px;
}
.contact .form input[type="Email"] {
    background-color: #4b5557;
    background: 10%;
    color: #FFF;
    border-radius: 10px 10px 10px 10px ;
    padding: 10px;
    /*border:0px;*/
    width: 20%;
    margin-bottom: 10px;
}
.contact .form textarea {
    border-radius: 10px 10px 10px 10px ;
    background-color: white;
    background: 10%;
    color: #FFF;
    padding: 10px;
    /*border:0px;*/
    width: 20%;
    margin-bottom: 10px;
    height: 200px;
}
.contact .form input[type="submit"]  {
    margin-top:30px;
    background: black;
    color: #FFA800;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    width: 165px;
    border: none;
    border-radius: 50px;
    border: 2px solid black;
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.contact .form input[type="submit"]:hover {
    background:none;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}
/*.hr {*/
/*    background: 10%;*/
/*    background-color: darkgrey;*/
/*}*/