* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a , p {
    color: white;
}

a {
    text-decoration: none;
}

.footer-nav a ,p {
    padding: 9px 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: white;
    font-size: .80em;
}

.footer-nav a:hover {
    color: #FFA800;
}

.web-footer {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid black;
    background-color: black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    /*-webkit-border-radius: 5px;*/
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* =================================
  Media Queries
==================================== */
@media  (min-width: 800px){
    .web-footer , .footer-nav {
        display: flex;
    }

    .web-footer {
        flex-direction: column;
        align-items: center;
    }

    .web-footer {
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .footer-nav {
        flex-direction: row;
        justify-content: space-between;
    }
}