/* About Section */
#about {
    padding: 100px 0 50px 0;
}

.about .container:nth-child(1) {
    background-color: #000000;
}

.container h4 {
    color: #FFA800;
    position: absolute;
}

.container h2 {
    color: #ffffff;
    position: absolute;
    justify-content: space-between;
    text-align: right;
}

.about .container p {
    position: absolute;
    color: white;
}

.about .container:nth-child(1) h5 {
    text-align: right;
}

.about .container:nth-child(1) h2 {
    right: 10%;
}

.about .container:nth-child(1) p {
    text-align: right;
}

@media (max-width: 1500px) {
    #about {
        padding: 100px 0 50px 0;
    }

    .about .container:nth-child(1) {
        height: 95vh;
    }

    .about .container:nth-child(1) .row {
        height: 100%;
    }

    .container h4 {
        right: 10%;
        top: 7%;
        letter-spacing: 2px;
    }

    .container h2 {
        top: 15%;
        letter-spacing: 4px;
    }

    .about .container p {
        top: 37%;
        letter-spacing: 2px;
    }

    .container .aboutImg {
        width: 40%;
        height: 100%;
        bottom: 0;
        top: 0;
    }

    .about .container:nth-child(1) h5 {
        right: 10%;
    }

    .about .container:nth-child(1) h2 {
        right: 10%;
    }

    .about .container:nth-child(1) p {
        right: 10%;
        left: 60%;
    }
}

@media (max-width: 1024px) {
    #about {
        padding: 100px 0 50px 0;
    }

    .about .container:nth-child(1) {
        height: 95vh;
    }

    .about .container:nth-child(1) .row {
        height: 100%;
    }

    .container h4 {
        right: 10%;
        top: 7%;
        letter-spacing: 2px;
    }

    .container h2 {
        top: 15%;
        letter-spacing: 4px;
    }

    .about .container p {
        top: 37%;
        letter-spacing: 2px;
    }

    .container .aboutImg {
        width: 50%;
        height: 100%;
        bottom: 0;
        top: 0;
    }

    .about .container:nth-child(1) h5 {
        right: 10%;
    }

    .about .container:nth-child(1) h2 {
        right: 10%;
    }

    .about .container:nth-child(1) p {
        right: 10%;
        left: 40%;
    }
}

@media (max-width: 768px) {
    #about {
        padding: 100px 0 50px 0;
    }

    .about .container:nth-child(1) {
        height: 60vh;
    }

    .about .container:nth-child(1) .row{
        height: 100%;
    }

    .container h4 {
        right: 10%;
        top: 10%;
        letter-spacing: 2px;
    }

    .container h2 {
        top: 15%;
        letter-spacing: 4px;
    }

    .about .container p {
        top: 30%;
        letter-spacing: 2px;
    }

    .container .aboutImg {
        width: 65%;
        height: 100%;
        bottom: 0;
        top: 0;
    }

    .about .container:nth-child(1) h5 {
        right: 10%;
    }

    .about .container:nth-child(1) h2 {
        right: 10%;
    }

    .about .container:nth-child(1) p {
        right: 10%;
        left: 50%;
    }
}

@media (max-width: 425px) {
    #about {
        padding: 100px 0 50px 0;
    }

    .about .container:nth-child(1) {
        height: 60vh;
    }

    .about .container:nth-child(1) .row{
        height: 100%;
    }

    .container h4 {
        right: 10%;
        top: 5%;
        letter-spacing: 2px;
    }

    .container h2 {
        top: 10%;
        letter-spacing: 2px;
    }

    .about .container p {
        top: 25%;
        letter-spacing: 1px;
    }

    .container .aboutImg {
        width: 65%;
        height: 100%;
        bottom: 0;
        top: 0;
    }

    .about .container:nth-child(1) h5 {
        text-align: center;
        right: 10%;
    }

    .about .container:nth-child(1) h2 {
        right: 10%;
    }

    .about .container:nth-child(1) p {
        right: 10%;
        left: 10%;
    }
}
