.about .container:nth-child(7) {
    /*text-align: center;*/
    background: #151515;
}

.about .container:nth-child(7) h4 {
    color: #ffa800;
    text-align: right;
}

.about .container:nth-child(7) h2 {
    color: #FFFFFF;
    text-align: right;
}

.container:nth-child(7) .row {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.about .container:nth-child(7) .card{
    position: absolute;
    background: black;
    transition: 0.5s;
    display: inline-block;
}

.about .container:nth-child(7) .card:hover{
    /*box-shadow: 0 30px 50px rgba(0,0,0,.2);*/
    transform: rotateY(360deg);
}

.about .container:nth-child(7) .card .face{
    position: absolute;
    text-align: center;
    align-items: center;
}

.about .container:nth-child(7) .card .face.face1{
    box-sizing: border-box;
    text-align: center;
    background: #000000;
    color: #ffa800;
}

.about .container:nth-child(7) .card .face.face1 ul{
    color: white;
    text-align: left;
}

.about .container:nth-child(7) .card .content a {
    border: 2px solid #ffa800;
    color: #ffa800;
    position: absolute;
}

.about .container:nth-child(7) .card .content a:hover {
    background: #ffa800;
    color: black;
}

.about .container:nth-child(7) .card .face.face2{
    background: #ffa800;
    transition: 0.5s;
}

.about .container:nth-child(7) .card:hover .face.face2{
    display: none;
}

.about .container:nth-child(7) .card:hover .face.face2 h2{
    position: absolute;
}

.about .container:nth-child(7) .card .face.face2 h2{
    color: black;
}

.about .container:nth-child(7) .card:hover .face.face2 h2{
    display: none;
}

@media (max-width: 1500px) {
    .about .container:nth-child(7) {
        width: 100%;
        height: 95vh;
    }

    .about .container:nth-child(7) h4 {
        top: 5%;
        right: 10%;
    }

    .about .container:nth-child(7) h2 {
        top: 12%;
        right: 10%;
    }

    .container:nth-child(7) .row {
        flex-direction: row;
        top: 25%;
        right: 10%;
        width: 80%;
        height: 70%;
    }

    .about .container:nth-child(7) .card{
        width: 25%;
        height: 90%;
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:nth-child(1){
        left: 10%;
    }

    .about .container:nth-child(7) .card:nth-child(2){
        left: 40%;
    }

    .about .container:nth-child(7) .card:nth-child(3){
        left: 70%;
    }

    .about .container:nth-child(7) .card .face{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .about .container:nth-child(7) .card .face.face1{
        padding: 20px;
    }

    .about .container:nth-child(7) .card .face.face1 .content h2{
        margin-top: 0;
        margin-right: 10%;
    }

    .about .container:nth-child(7) .card .face.face1 ul{
        margin-top: 50%;
        margin-left: 18% ;
    }

    .about .container:nth-child(7) .card .content a {
        padding: 5px 10px;
        top: 85%;
        left: 35%;
    }

    .about .container:nth-child(7) .card .face.face2{
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:hover .face.face2 h2{
        top: 0;
        left: 10%;
    }

    .about .container:nth-child(7) .card .face.face2 h2{
        margin-top: 25%;
        padding: 7%;
        font-size: 10em;
        transition: 0.5s;
    }
}

@media (max-width: 1024px) {
    .about .container:nth-child(7) {
        width: 100%;
        height: 85vh;
    }

    .about .container:nth-child(7) h4 {
        top: 5%;
        right: 10%;
    }

    .about .container:nth-child(7) h2 {
        top: 12%;
        right: 10%;
    }

    .container:nth-child(7) .row {
        flex-direction: row;
        top: 25%;
        right: 10%;
        width: 90%;
        height: 70%;
    }

    .about .container:nth-child(7) .card{
        width: 25%;
        height: 90%;
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:nth-child(1){
        left: 10%;
    }

    .about .container:nth-child(7) .card:nth-child(2){
        left: 40%;
    }

    .about .container:nth-child(7) .card:nth-child(3){
        left: 70%;
    }

    .about .container:nth-child(7) .card .face{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .about .container:nth-child(7) .card .face.face1{
        padding: 20px;
    }

    .about .container:nth-child(7) .card .face.face1 .content h2{
        margin-top: 0;
        margin-right: 0;
    }

    .about .container:nth-child(7) .card .face.face1 ul{
        margin-top: 60%;
        margin-left: 18% ;
    }

    .about .container:nth-child(7) .card .content a {
        padding: 5px 10px;
        top: 85%;
        left: 29%;
    }

    .about .container:nth-child(7) .card .face.face2{
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:hover .face.face2 h2{
        top: 0;
        left: 10%;
    }

    .about .container:nth-child(7) .card .face.face2 h2{
        margin-top: 25%;
        padding: 7%;
        font-size: 10em;
        transition: 0.5s;
    }
}

@media (max-width: 768px) {
    .about .container:nth-child(7) {
        width: 100%;
        height: 60vh;
    }

    .about .container:nth-child(7) h4 {
        top: 5%;
        right: 10%;
    }

    .about .container:nth-child(7) h2 {
        top: 12%;
        right: 10%;
    }

    .container:nth-child(7) .row {
        flex-direction: column;
        top: 25%;
        right: 10%;
        width: 90%;
        height: 70%;
    }

    .about .container:nth-child(7) .card{
        width: 25%;
        height: 90%;
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:nth-child(1){
        left: 15%;
    }

    .about .container:nth-child(7) .card:nth-child(2){
        left: 45%;
    }

    .about .container:nth-child(7) .card:nth-child(3){
        left: 75%;
    }

    .about .container:nth-child(7) .card .face{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .about .container:nth-child(7) .card .face.face1{
        padding: 20px;
    }

    .about .container:nth-child(7) .card .face.face1 .content h2{
        margin-top: 0;
        margin-right: 10%;
    }

    .about .container:nth-child(7) .card .face.face1 ul{
        margin-top: 45%;
        margin-left: 18% ;
    }

    .about .container:nth-child(7) .card .content a {
        padding: 5px 10px;
        top: 85%;
        left: 25%;
    }

    .about .container:nth-child(7) .card .face.face2{
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:hover .face.face2 h2{
        top: 20%;
        left: 10%;
    }

    .about .container:nth-child(7) .card .face.face2 h2{
        margin-top: 40%;
        padding: 7%;
        font-size: 9rem;
        transition: 0.5s;
    }
}

@media (max-width: 425px) {
    .about .container:nth-child(7) {
        width: 100%;
        height: 180vh;
    }

    .about .container:nth-child(7) h4 {
        top: 2%;
        right: 10%;
    }

    .about .container:nth-child(7) h2 {
        top: 4%;
        right: 10%;
    }

    .container:nth-child(7) .row {
        flex-direction: row;
        top: 8%;
        left: 25%;
        width: 50%;
        height: 80%;
    }

    .about .container:nth-child(7) .card{
        width: 100%;
        height: 30%;
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:nth-child(1){
        top: 0;
        left: 0;
    }

    .about .container:nth-child(7) .card:nth-child(2){
        top: 40%;
        left: 0;
    }

    .about .container:nth-child(7) .card:nth-child(3){
        top: 80%;
        left: 0;
    }

    .about .container:nth-child(7) .card .face{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .about .container:nth-child(7) .card .face.face1{
        padding: 20px;
    }

    .about .container:nth-child(7) .card .face.face1 .content h2{
        font-size: 2rem;
        margin-top: 0;
        margin-right: 18%;
    }

    .about .container:nth-child(7) .card .face.face1 ul{
        font-size: 12px;
        margin-top: 20%;
        margin-left: 18% ;
    }

    .about .container:nth-child(7) .card .content a {
        padding: 5px 5px;
        font-size: 12px;
        top: 80%;
        left: 30%;
    }

    .about .container:nth-child(7) .card .face.face2{
        transition: 0.5s;
    }

    .about .container:nth-child(7) .card:hover .face.face2 h2{
        top: 0;
        left: 10%;
    }

    .about .container:nth-child(7) .card .face.face2 h2{
        margin-top: 15%;
        padding: 5% 5% 5% 5%;
        font-size: 10em;
        transition: 0.5s;
    }
}
