.about .container:nth-child(7) {
    width: 100%;
    height: 85vh;
    /*text-align: center;*/
    background: #151515;
}

.about .container:nth-child(7) h4 {
    color: #ffa800;
    top: 5%;
    right: 10%;
    text-align: right;
}

.about .container:nth-child(7) h2 {
    color: #FFFFFF;
    top: 10%;
    /*text-align: right;*/
    right: 10%;
}

.about .container:nth-child(7) .row {
    display: flex;
    width: 70%;
    height: 70%;
    top: 30%;
    right: 20%;
    justify-content: space-between;
    position: absolute;
}

.flip-card {
    background-color: transparent;
    width: 25%;
    height: 80%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background: linear-gradient(to left, #ffa800, #000000);
    color: #fffdfd;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background: linear-gradient(to right, #ffa800, #fffdfd);
    color: #000000;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card h3 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #000000;
}

.flip-card ul li {
    color: black;
    text-align: left;
}

.flip-card a {
    color: black;
    position: absolute;
    bottom: 5%;
    left: 30%;
    border: 2px solid #ffa800;
    padding: 5px 10px;
}

/*.flip-card a:hover a {*/
/*    background: #ffa800;*/
/*}*/

.about .container:nth-child(7) .row .flip-card a:hover {
    background-color: #ffa800;
    color: black;
}
