.about .container:nth-child(4) {
    background-color: black;
    aspect-ratio: 1/1;
}

.about .container:nth-child(4) h2 {
    position: absolute;
    left: 10%;
}

.about .container:nth-child(4) h4 {
    color: #ffa800;
    position: absolute;
    left: 10%;
}

/*.about .container:nth-child(3) .row:nth-child(1) {*/
/*    width: 50%;*/
/*    height: 90%;*/
/*    top: 5%;*/
/*    bottom: 5%;*/
/*}*/

/*.about .container:nth-child(3) img{*/
/*    position: absolute;*/
/*}*/

.about .container:nth-child(4) {
    background-color: #0E0E0E;
}

.about .container:nth-child(4) h4 {
    left: 10%;
}
.about .container:nth-child(4) h2 {
    left: 10%;
}

.container:nth-child(4) .row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 40%;
    left: 15%;
    right: 10%;
    width: 60%;
    height: 50%;
}

.education-block {
    border-radius: 5% 5% 5% 5%;
    padding: 10% 2% 2% 2%;
    background: radial-gradient(circle, rgb(16, 16, 16) 45%, rgba(0,0,0,1) 100%);
    position: absolute;
    width: 25%;
    height: 70%;
    border: 1px solid #FFA800;
}

.education-block>div>img {
    position: absolute;
    /*align-items: center;*/
    width: 70%;
    height: 70%;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
}

.education-block>a {
    color: white;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 10%;
    right: 10%;
}

.education-block:hover {
    zoom: 110%;
    width: 25%;
    height: 75%;
    bottom: 5%;
}