.about .container:nth-child(2) {
    background-color: #0E0E0E;
}

.about .container:nth-child(2) h4 {
    text-align: left;
}

.about .container:nth-child(2) h2 {
    text-align: left;
}

.about .container .service {
    background: rgb(56, 54, 54);
    background: linear-gradient(168deg, rgb(56, 54, 54) 0%, rgb(14, 14, 14) 50%);
    position: absolute;
}

.container:nth-child(2) .row {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.intro-block {
    background: linear-gradient(168deg, rgb(56, 54, 54) 0%, rgb(14, 14, 14) 50%);
    position: absolute;
}

.intro-block .intro-icon {
    position: absolute;
    background-color: #FFA800;
}

.intro-block .intro-icon>img {
    /*background-color: #FFA800;*/
    filter: hue-rotate(90deg);
    color: black;
    position: absolute;
    margin: auto;
}

.intro-block h5 {
    color: white;
}

.intro-block:hover .intro-icon, .intro-block.active .intro-icon {
    background-color: #383636;
    color: white;
}

.intro-block:hover, .intro-block.active {
    background: linear-gradient(168deg, rgb(56, 54, 54) 0%, rgb(255, 168, 0) 100%);
}

@media (max-width: 1500px){
    .about .container:nth-child(2) {
        width: 100%;
        height: 95vh;
    }

    .about .container:nth-child(2) h4 {
        left: 10%;
    }

    .about .container:nth-child(2) h2 {
        left: 10%;
    }

    .about .container .service {
        height: 55%;
        border-radius: 10px  10px 10px 10px;
    }

    .container:nth-child(2) .row {
        flex-direction: row;
        top: 40%;
        left: 15%;
        right: 10%;
        width: 60%;
        height: 50%;
    }

    .intro-block {
        border-radius: 5% 5% 5% 5%;
        padding: 10% 2% 2% 2%;
        width: 25%;
        height: 70%;
    }

    .intro-block .intro-icon {
        top: -5%;
        left: -10%;
        width: 30%;
        height: 20%;
        border-radius: 50% 50% 50% 50%;
    }

    .intro-block .intro-icon>img {
        width: 80%;
        height: 80%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (max-width: 1024px){
    .about .container:nth-child(2) {
        width: 100%;
        height: 100vh;
    }

    .about .container:nth-child(2) h4 {
        left: 10%;
    }

    .about .container:nth-child(2) h2 {
        left: 10%;
    }

    .about .container .service {
        height: 55%;
        border-radius: 10px  10px 10px 10px;
    }

    .container:nth-child(2) .row {
        flex-direction: row;
        top: 40%;
        left: 10%;
        right: 10%;
        width: 60%;
        height: 50%;
    }

    .intro-block {
        border-radius: 5% 5% 5% 5%;
        padding: 10% 2% 2% 2%;
        width: 40%;
        height: 90%;
    }

    .intro-block .intro-icon {
        top: -5%;
        left: -10%;
        width: 30%;
        height: 20%;
        border-radius: 50% 50% 50% 50%;
    }

    .intro-block .intro-icon>img {
        width: 80%;
        height: 80%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (max-width: 768px){
    .about .container:nth-child(2) {
        width: 100%;
        height: 70vh;
    }

    .about .container:nth-child(2) h4 {
        left: 10%;
        top: 5%;
    }

    .about .container:nth-child(2) h2 {
        left: 10%;
        top: 10%;
    }

    .container:nth-child(2) .row {
        flex-direction: column;
        top: 25%;
        left: 15%;
        right: 10%;
        width: 80%;
        height: 50%;
    }

    .intro-block {
        border-radius: 0;
        padding: 5% 5% 2% 5%;
        width: 80%;
        height: 20%;
    }

    .intro-block .intro-icon {
        top: -5%;
        left: -5%;
        width: 8%;
        height: 35%;
        border-radius: 50% 50% 50% 50%;
    }

    .intro-block .intro-icon>img {
        width: 70%;
        height: 70%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .intro-block p {
        margin-top: 3%;
    }
}